/* Direct button fix for mobile view */

.discount-actions {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 768px) {
    .discount-actions {
        align-items: flex-start !important;
        gap: 40px !important;
    }
    .discount-actions .btn {
        margin: 0 !important;
        padding: 8px 5px !important; /* 8px top/bottom, 5px left/right */
        box-sizing: border-box !important;
        min-width: 0 !important;
        min-height: 0 !important;
        height: auto !important;
    }

    .form-actions {
        display: block !important;
    }
    
    #back-home-btn {
        display: block !important;
        width: 35% !important;
        margin-bottom: 12px !important;
    }
    .form-actions #checkout-btn {
        display: block !important;
        width: 35% !important;
        font-size: 1.0rem !important;
    }
}
